/* IMPORT Montserrat from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');

@font-face {
  font-family: LL-d;
  src: url('/fonts/linux-libertine/LinLibertine_DR.otf');
}
@font-face {
  font-family: LL-r;
  src: url('/fonts/linux-libertine/LinLibertine_R.otf');
}
@font-face {
  font-family: LL-b;
  src: url('/fonts/linux-libertine/LinLibertine_RB.otf');
}

/* SET custom variables */
:root {
  --primary: #1f2022;
  --secondary: #b0d6f5;
  --primary-bold: #000;
  --off-primary: #64676b;
  --hover: #46759c;
  --links: #0645ad;
  --warning: #da0f41;
  --warning-hover: #b8222a;
  --disabled: #bbb;
  --disabled-hover: #818181;
  --background: #ffffff;
  --bg-shadow: rgba(0, 0, 0, 0.25);
  --input-shadow: rgba(0, 0, 0, 0.1);
  --off-bg1: #ddd;
  --off-bg2: #eee;
  --off-bg3: #c6c9cc;
  --nav-bg: #f6f6f6;
  --ombre: rgba(176, 214, 245, 0.5);
  --contrast1: #000;
  --contrast2: #fff;
}

[data-theme='darkMode'] {
  --primary: #ddd;
  --secondary: #2c5f88;
  --primary-bold: white;
  --off-primary: #aaa;
  --hover: #46759c;
  --links: #3a89ca;
  --warning: #da0f41;
  --warning-hover: #ff4a53;
  --disabled: #3f3f3f;
  --disabled-hover: #5c5c5c;
  --background: #121212;
  --bg-shadow: rgba(0, 0, 0, 0.5);
  --off-bg1: darkgrey;
  --off-bg2: #191919;
  --off-bg3: #3b3b3b;
  --nav-bg: #131313;
  --ombre: rgba(44, 95, 136, 0.3);
  --contrast1: #fff;
  --contrast2: #000;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--primary);
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: var(--background);
}
a {
  text-decoration: none;
  cursor: pointer;
}

/* BUTTON styling */
button,
.btn {
  background: var(--secondary);
  border-radius: 10px;
  border: 0;
  padding: 8px 15px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  transition: 0.3s ease-in;
  font-size: 14px;
}
button:hover,
.btn:hover {
  background: var(--hover);
  color: white;
}
button:disabled {
  opacity: 0.5;
  color: var(--primary);
  background: var(--secondary);
  cursor: not-allowed;
}

/* FORM styling */
.form-container {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  width: 400px;
  text-align: center;
}
input,
textarea {
  border: 0;
  border-bottom: 1px solid var(--off-bg1);
  padding: 10px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
  background-color: var(--background);
  font-size: 13px;
}
form button {
  margin-top: 10px;
}
.error {
  color: var(--warning);
  font-size: 14px;
}
form .error {
  margin: 16px 0;
}

/* MODAL styling */
.active-modal {
  filter: blur(3px);
  transition: 0.3s ease;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-shadow);
  z-index: 3;
}
.modal-container {
  z-index: 4;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
}
.modal {
  z-index: 4;
  padding: 20px;
  border-radius: 20px;
  background: var(--off-bg2);
  box-shadow: var(--bg-shadow) 0px 0px 15px;
}
.modal form {
  padding: 0px 20px 10px 20px;
}
.modal input {
  background: var(--off-bg2);
}
.modal form p {
  padding: 10px;
}
.modal .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.modal button {
  margin: 10px 0px 10px 5px;
  width: 100px;
}
.modal button.cancel {
  background: var(--disabled);
}
.modal button.cancel:hover {
  background: var(--disabled-hover);
}
.modal button.delete {
  background: var(--warning);
}
.modal button.delete:hover {
  background: var(--warning-hover);
}
.icon-container {
  display: flex;
  justify-content: flex-end;
}
.icon:hover {
  opacity: 0.5;
  transition: 0.3s ease;
}

/* RANGE styling */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: var(--off-bg2);
    background-color: var(--background);
    border-radius: 20px;
    padding: 1px 0 0 0;
    margin: 5px 0;
    border-bottom: 1px solid var(--input-shadow);
  }

  input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    margin-top: -1px;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    border-radius: 20px;
    cursor: ew-resize;
    background: var(--primary);
    box-shadow: -210px 0 0 200px var(--secondary);
  }
}

/* SWITCH input styling */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}
.slider.round {
  border-radius: 24px;
}
.slider.round:before {
  border-radius: 50%;
}

/* TRANSITION and ANIMATION styling */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}
.slide-fade-leave-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}

.slide-fade2-enter-active {
  transition: all 0.3s ease-out;
}
.slide-fade2-leave-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade2-enter-from,
.slide-fade2-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 400px;
  }
  100% {
    background-position: 400px;
  }
}

@keyframes generating-shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 900px;
  }
  100% {
    background-position: 900px;
  }
}

/* RESPONSIVE styling: Mobile */
@media (max-width: 480px) {
  .modal-container {
    width: 90%;
    min-width: 0px;
  }
  .modal button {
    width: 100%;
  }
  .article h1 {
    overflow-wrap: break-word;
  }
  .list {
    justify-content: center;
  }
  form {
    width: 100%;
  }
  .form-container {
    padding: 0 20px;
  }
  .signup-name {
    display: flex;
    flex-direction: column;
  }
  .welcome-nav {
    height: 40px !important;
  }
  .welcome-nav .night-mode-toggle {
    margin-top: 7px;
    padding: 0 10px !important;
  }
  .single .home-square {
    height: 100% !important;
    margin-left: 10px;
  }
  .single h3 {
    font-size: 18px !important;
  }
  form input,
  form textarea {
    font-size: 16px;
  }
  form h3 {
    font-size: 22px;
  }
  .no-articles {
    height: 100px !important;
  }
}

/* RESPONSIVE styling: Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .modal-container {
    width: 90%;
    min-width: 0px;
  }
  .modal form {
    max-width: 100%;
  }
  .modal button {
    width: 100%;
  }
  .list {
    justify-content: center;
  }
}

/* RESPONSIVE styling: Laptops */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* RESPONSIVE styling: Desktops */
@media (min-width: 1025px) and (max-width: 1200px) {
}

/* RESPONSIVE styling: TVs */
@media (min-width: 1201px) {
}
